.deps-row {
	display: table;
	width: 100%;
}

.deps-row-value {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: relative;
	width: 150px;
	height: 40px;
	word-break: break-all;
	/*line-height: 13em; */
	border: 1px solid;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.depsCkbox {
	width: 80px;
	background: #F0E8E7;
}

.addDeps {
	right: 10px;
	text-align: right;
}

.depsHeader {
	background: #7D1935;
	font-weight: bold;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-style: initial;
	font-size: medium;
}

.form-horizontal-deps {
	border: 1px;
	border-style: groove;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 5px 15px 15px 15px;
	background-color: #FFF;
	min-height: 600px;
	padding-top: 15px;
	padding-left: 1%;
	padding-right: 1%;
}