@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
    line-height: 1.42857143;
}

.appnoviz-header {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	height: 80px;
}

.logo-img {
	float: left;
	padding-left: 50px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar a {
	color: #FFFFFF;	
	float: right;
	padding: 15px 30px 5px 5px;
	text-decoration: none;
}


.navbar-default {
    background-color: #463F3F;
    border-color: #e7e7e7;
}

@media (min-width: 768px)
.navbar-static-top {
    border-radius: 0;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
